{% extends 'share/base.html' %}
{% load static %}

{% block base_head %}
<!-- <link rel="stylesheet" href="{% static 'css/style.css' %}"> -->
<script src="{% static 'js/script.js' %}"></script>
{% endblock %}
{% block content %}
{% include 'share/snipets/navbar.html' %}


<div class="row my-5 container ml-auto">
    <div class="col-md-7">
        <div class="container">
            <form enctype="multipart/form-data" method="post">
                {% csrf_token %}
                {{ form.as_p }}
                <button class="btn btn-primary" type="submit">Save</button>
            </form>
        </div>
    </div>
</div>



<div class="d-flex justify-content-end">
    <h4 class="">Hello {{num_visits}}th Visitor</h4><br>

</div>
<div class="d-flex justify-content-end">
    <h4>😀</h4>
</div>

{% endblock content %}