{% extends 'share/base.html' %}
{% load static %}


{% block content %}
{% include 'share/snipets/navbar.html' %}
<div class="container my-3">
  <div class="row">

    {% for image in images %}
    <div class="col-sm-6 col-md-6">
      <div class="card mb-2" style="width: 18rem;">
        <img src="{{image.img.url}}" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">{{image.title}}</h5>
          <p class="card-text">{{image.description}}</p>
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
</div>
<div class="d-flex">

</div>
<div class="d-flex align-items-end">
  <h4 class="line">Made with ❤️</h4>
</div>
{% endblock content %}

<!-- {% for image in images %}
      {{image.title}}
    {{image.description}}
    <img src="{{image.img.url}}" alt="img" height="=250px" width="250px">
    {% endfor %} -->