<div class="my-5 col-md-4">
    <div class="d-flex">
        {% for image in images %}
        <div class="row mr-5">
            <div class="col-md-4">
                <div class="card" style="width: 18rem;">
                    <img src="{{image.img.url}}" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">{{image.title}}</h5>
                        <p class="card-text">{{image.description}}</p>
                    </div>
                </div>
            </div>
        </div>

        {% endfor %}
        <!-- {% for image in images %}
      {{image.title}}
      {{image.description}}
      <img src="{{image.img.url}}" alt="img" height="=250px" width="250px">
      {% endfor %} -->
    </div>
</div>